@page
@model Northwind.Gui.Web.Pages.Ordre.DetailsModel

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>
<div class="row col-6">
    <form method="post">
        <select class="form-control col" asp-for="Selected" asp-items="@Model.Currencies"></select>
        <input class="btn btn-secondary col mt-3" type="submit" value="Vælg valuta" asp-route-id="@Model.Order.OrderId"/>
    </form>
</div>

<div>
    <h4>Ordre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Freight)
        </dt>
        <dd class="col-sm-10">
            @(Math.Round((decimal)Model.Order.Freight * Model.ExchangeRate, 2)) @Model.Selected
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipRegion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipViaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipViaNavigation.CompanyName)
        </dd>
    </dl>
    <hr />
    <h4>Total Pris: @(Math.Round(Model.TotalPrice * Model.ExchangeRate, 2)) @Model.Selected</h4>
    <hr />
    <h4>Ordre Detailjer</h4>
    <dl>
        @for (int i = 0; i < Model.Order.OrderDetails.Count; i++)
        {
            <dd>
                <h4>@Html.DisplayFor(model => model.Order.OrderDetails[i].Product.ProductName)</h4>
            </dd>
            <dd class="col-sm-10">
                På lager: @Html.DisplayFor(model => model.Order.OrderDetails[i].Product.UnitsInStock);
            </dd>
            <dd class="col-sm-10">
                Antal: @Html.DisplayFor(model => model.Order.OrderDetails[i].Quantity)
            </dd>
            <dd class="col-sm-10">
                Enheds pris:  @(Math.Round(Model.Order.OrderDetails[i].UnitPrice * Model.ExchangeRate, 2)) @Model.Selected
            </dd>
            <dd class="col-sm-10">
                Rabat: @Html.DisplayFor(model => model.Order.OrderDetails[i].Discount)
            </dd>
        }
    </dl>
    <hr />
    <h4>Faktura</h4>
    @for (int i = 0; i < Model.Invoices.Count; i++)
    {
        <h4>#@(i + 1)</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShipName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShipAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipCity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShipCity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipPostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShipPostalCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Region)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Region)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].PostalCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Salesperson)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Salesperson)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].RequiredDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].RequiredDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShippedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShippedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ShipperName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ShipperName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @(Math.Round(Model.Invoices[i].UnitPrice * Model.ExchangeRate, 2)) @Model.Selected
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Discount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Invoices[i].Discount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].Freight)
            </dt>
            <dd class="col-sm-10">
                @(Math.Round((decimal)Model.Invoices[i].Freight * Model.ExchangeRate, 2)) @Model.Selected
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Invoices[i].ExtendedPrice)

            </dt>
            <dd class="col-sm-10">
                @(Math.Round((decimal)Model.Invoices[i].ExtendedPrice * Model.ExchangeRate, 2)) @Model.Selected
            </dd>
        </dl>
    }

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Rediger</a> |
    <a asp-page="./Index">Tilbage til listen</a>
</div>
