@page
@model Northwind.Gui.Web.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.TitleOfCourtesy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.TitleOfCourtesy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.PhotoPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.ReportsToNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.ReportsToNavigation.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employees.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
